@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display|Karla:400,700&display=swap');

* {
    box-sizing: border-box;
}

:root{
    --dark-violet: hsl(256, 26%, 20%);
    --grayish-blue: hsl(216, 30%, 68%);
    --very-dark-violet: hsl(270, 9%, 17%);
    --dark-grayish-violet: hsl(273, 4%, 51%);
    --very-light-gray: hsl(0, 0%, 98%);
}

body {
    color: var(--dark-violet);
    font-family: 'karla', sans-serif;
    margin: 0;
}

h1, h2, h3{
    font-family: 'DM Serif Display', sans-serif;
}

h1, h2{
    font-size: 4em;
    letter-spacing: 2px;
    line-height: 1;
    position: relative;
    margin: 0;
    padding-top: 70px;
}

h3 {
    font-size: 2em;
}

p {
    opacity: 0.8;
    line-height: 1.7;
}

.has-line-top::before {
    content: '';
    width: 150px;
    height: 1px;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
}

.line-violet::before {
    background-color: var(--dark-violet);
}

.btn {
    background-color: transparent;
    padding: 13px 25px;
    color: white;
    border: 2px solid white;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    display: inline-block;
}

.btn-reverse {
    color: var(--dark-violet);
    border-color: var(--dark-violet);
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.container{
    padding: 20px;
    max-width: 100%;
    width: 1200px;
    margin: 0 auto;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.align-start {
    align-items: flex-start;
}

.flex > div {
    flex: 1;
}

nav .container {
    padding: 10px 20px;
}

nav .hamburger {
    display: none;
}

nav ul {
    display: flex;
    align-items: center;
    padding: 0;
}

nav li {
    margin-left: 30px;
}

nav li a {
    text-transform: uppercase;
    color: var(--dark-grayish-violet);
}


header {
    background-color: var(--dark-violet);
    color: white;
    padding: 50px 0;
    position: relative;
    margin-bottom: 300px;
}

header h1 {
    margin-bottom: 30px;
}

header p {
    margin-bottom: 40px;
}

header::after {
    content: '';
    background-image: url('./images/bg-pattern-intro-left-desktop.svg');
    position: absolute;
    left: 0;
    bottom: -70%;
    background-repeat: no-repeat;
    background-position: left bottom;
    width: 50%;
    height: 100%;
    z-index: 0;
}

header::before {
    content: '';
    background-image: url('./images/bg-pattern-intro-right-desktop.svg');
    position: absolute;
    top: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: top right;
    width: 100%;
    height: 100%;
    z-index: 5;
}

header * {
    z-index: 2;
}

.ivan {
    margin-bottom: -250px;
}

.bg-violet {
    background-color: var(--very-dark-violet);
    padding: 70px;
    position: relative;
    margin: 100px auto;
    background-image: url('./images/bg-pattern-how-we-work-desktop.svg');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 40% 100%;
}

.bg-violet h2 {
    color: white;
    padding: 0;
    font-size: 3em;
    width: 60%;
}


.tiles {
    margin-top: 90px;
}

.tiles:nth-child(2) {
    margin-left: 20px;
    margin-right: 30px;
}

footer {
    background-color: var(--very-light-gray);
    padding: 30px;
    background-image: url('./images/bg-pattern-footer-desktop.svg');
    background-repeat: no-repeat;
}

footer h4 {
    text-transform: uppercase;
    color: var(--dark-grayish-violet);
}

footer ul {
    padding: 0;
}

footer ul.flex {
    display: flex;
}

footer ul.flex li:not(:last-child) {
    margin-right: 15px;
}

footer li {
    margin-bottom: 10px;
}

footer li a {
    color: var(--very-dark-violet);
}

.border-bottom {
    border-bottom: 1px solid var(--grayish-blue);
    margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
    body {
        text-align: center;
    }


    .has-line-top::before {
        left: 50%;
        transform: translateX(-50%);
    }

    .ivan {
        margin-bottom: -10px;
        display: inline-block;
        margin-left: -20px;
        max-width: calc(100% + 40px)
    }

    .flex {
        flex-direction: column;
    }

    nav {
        padding: 10px;
    }

    nav .hamburger {
        display: inline-block;
        background-color: transparent;
        border: 0;
        cursor: pointer;
    }

    nav .hamburger:focus {
        outline: none;
    }

    nav .hamburger .close{
        display: none;
    }

    nav .hamburger.show .open {
        display: none;
    }

    nav .hamburger.show .close {
        display: block;
    }

    nav .flex {
        flex-direction: row;
    }

    nav .img-wrapper {
        text-align: left;
    }

    nav ul {
        display: none;
        align-items: stretch;
        position: relative;
    }

    nav ul a{
        color: #ffffff;
    }

    nav ul .btn {
        color: white;
        border-color: white;
        display: inline-block;
        width: 80%;
    }


    nav ul.show {
        position: absolute;
        background-color: var(--very-dark-violet);
        flex-direction: column;
        top: 60px;
        padding: 30px;
        left: 0;
        width: 100%;
        height: 40%;
        display: flex;
        z-index: 100;
    }

    nav ul li {
        margin: 20px 0;
    }

    nav ul::after {
        content: '';
        background-image: url(./images/bg-pattern-mobile-nav.svg);
        position: absolute;
        bottom: 0;
        left: 0;
        height: 80%;
        width: 100%;
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: 100% 50%;
    }

    header {
        padding-top: 0;
    }

    header .container {
        padding-top: 0;
    }

    header::before, header::after {
        display: none;
    }

    .reverse-mobile {
        flex-direction: column-reverse;
    }

    .bg-violet {
        background-image: url(./images/bg-pattern-how-we-work-mobile.svg);
        background-repeat: no-repeat;
        width: 90%;
    }

    .bg-violet h2 {
        margin-bottom: 20px;
        width: 100%;
    }

    footer {
        background-image: url(./images/bg-pattern-footer-mobile.svg);
        background-size: 100% 20%;
        background-position: top center;
    }

    footer ul.flex {
        flex-direction: row;
    }

    .border-bottom {
        padding: 30px 0;
    }

    .align-center {
        align-items: center;
    }
}